* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;}

body {
    background-color: #fff;
    color: #000;
}

.navbar {
    background-color: #7273e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    color: #000;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.btn-parceria {
    background-color: white;
    color: black;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
}

.btn-parceria:hover {
    background-color: #e6e6e6;
}

.hero {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    font-weight: 600;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px 0;
}

.info-box {
    background-color: #7273e0;
    color: #000;
    width: 220px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.regions {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.region-box {
    background-color: #7273e0;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.extra {
    text-align: center;
    margin: 40px 0;
    font-weight: 600;
}

.footer {
    background-color: #7273e0;
    text-align: center;
    padding: 15px;
    color: #000;
    font-weight: 600;
}